{% extends "site/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid wrapper">
  <div class="row py-2">
    <div class="col order-header">
      My Orders
    </div>
  </div>
  <hr>
  <div class="row py-2">
    <div class="col">
      <div class="row py-2">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Order</th>
                <th>Amount</th>
                <th>Order Items</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td>{{obj.pk}}</td>
                <td>{{obj.amount}}</td>
                <td>
                  <ul>
                    {% for item in obj.orderdetail_set.all %}
                    <li><a href="{% url 'shop:catalog-product-detail' item.product.slug %}">{{item.product}}</a></li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
