{% extends "site/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid wrapper rounded shadow">
  <div class="row">
    <div class="col-12">
      <div class="row py-2">
        <div class="col">
          <h1>{{object.name}}</h1>
        </div>
      </div>
      <hr>
      <div class="row py-2">
        
        <div class="col-2 col-sm-2">
          <div class="text-center">
            <a href="{% url 'shop:catalog' %}?brand={{object.brand.pk}}" class="tag-link">
              {% if object.brand.image %}
                <img src="{{object.brand.image.url}}" alt="" class="img-fluid">
              {% else %}
                {{object.brand}}
              {% endif %}
              </a>
          </div>
          {% if object.image %}
          <img src="{{ object.image.url }}" class="img-fluid">
          {% endif %}
        </div>
        <div class="col-8 col-sm-8">
          {% if object.tags.all %}
          <div class="">
            {% for tag in object.tags.all %}
                <a class="tag-link" href="{% url 'shop:catalog' %}?tag={{tag.id}}">{{tag.name}}</a>
            {% endfor %}
          </div>
          {% endif %}
          <div class="">
             <a class="tag-link" href="{% url 'shop:catalog' %}?category={{object.category.id}}">{{object.category.name}}</a>
             {% if object.pdf_guide %}
              <a href="{{object.pdf_guide.url}}"><i class="bi bi-file-pdf-fill" style="font-size:1.4rem;"></i></a>
            {% endif %}
          </div>
          <div class="">
            {{object.description|safe}}
          </div>
        </div>
        <div class="col-2">
            <a href="{% url 'shop:add_to_basket' object.id %}" class="btn btn-light float-right ajax_add_to_cart"><i class="bi bi-cart"></i>  &#128;{{object.price}}</a>
        </div>
      </div>
      <hr>
      {% if  object.logos.all %}
      <div class="row">
        {% for logo in object.logos.all %}
          {% if logo.image %}
          <div class="col-1">
            <img src="{{logo.image.url}}" alt="">

          </div>
          {% endif %}
        {% endfor %}
      </div>
      <hr>
      {% endif %}
      {% if  object.relatedproducts.all %}
      <div class="row">
        {% for item in object.relatedproducts.all %}
          <div class="col">
            <div class="card">
              {% if item.image %}
              <img src="{{item.image.url}}" class="card-img-top" alt="...">
              {% endif %}
              <div class="card-body">
                <h6 class="card-title">{{item}}</h6>
                <a href="{% url 'shop:catalog-product-detail' item.pk %}" class="btn btn-primary">Info</a>
              </div>
            </div>
          </div>
          
        {% endfor %}
      </div>
      <hr>
      {% endif %}
      <div class="row py-2">
          <div class="col-12 col-sm-12">
              <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                  {% for media in object.media.all %}
                    <div class="swiper-slide">
                        <img src="{{ media.image.url }}" class="img-thumbnail">
                    </div>
                  {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
      </div>
      <div class="row d-flex justify-content-center">
          <div class="col-6">
            <div class="">
              {% for attr in object.attributes.all %}
              <div class="">
                <span style="font-weight:bold;">{{attr.feature}}</span> : {{attr|safe}}
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
