{% load static shop %}
{% if specification_list %}
<form class="overflow-auto" action="" method="get" id='filters-form'>
  <input type="hidden" name="category" value="{{category.pk}}">
  {% for feature in specification_list %}
  <div class="form-group grouper" data-id={{feature.pk}}>
    <div class="filter-header">
      {{feature}}
    </div>
    <hr class="hr">
    {% for attr in feature.attributes_list %}
        {% is_checked attr as checked %}
        <div class="ck-button {% if checked %} checked {% endif %} bug_{{feature.pk}}">
        <label for="{{attr.pk}}" style="display:block;">
          <input type="checkbox" name="feature-{{feature.pk}}" class="form-check-input" id="{{attr.pk}}" value="{{attr.pk}}" {% if checked %} checked {% endif %}>
          <span>{{attr}}</span>
          <span class="badge bg-light text-dark">{{attr.product_counter}}</span>
        </label>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
  <button type="submit" name="">Search</button>
</form>


{% endif %}

<script>
  'use strict';
  (function(w,d,$){
    $(d).ready(function(){
      $("[class*='bug_']").hide();
      $('body').on('click', '.grouper',function(e){
        let id = $(this).data('id');
        $('.bug_'+id).toggle();
      })
    })
  })(window,document,jQuery)

</script>
