{% load static shop %}
<form class="" action="" method="get" id='filters-form'>
  {% for feature in specification_list %}
  <div class="form-group">
    <div class="filter-header">
      {{feature}}
    </div>
    <hr>
    {% for attr in feature.attributes_list %}
      {% is_checked attr as checked %}
      <div class="ck-button {% if checked %} checked {% endif %}">
      <label for="{{attr.pk}}" style="display:block;">
        <input type="checkbox" name="feature-{{feature.pk}}" class="form-check-input" id="{{attr.pk}}" value="{{attr.pk}}" {% if checked %} checked {% endif %}>
        <span>{{attr}}</span>
        <span class="badge bg-light text-dark">{{attr.attr_list.0.product_counter}}</span>
      </label>
    </div>
    {% endfor %}
</div>
{% endfor %}
<input type="submit" class="btn btn-primary" name="submit" value="submit">
</form>
