{% load static %}
<div class="row py-2">
  <div class="col">
    Products <span class="badge bg-light text-dark">{{products_count}}</span>
  </div>
  <div class="">
    <a href="{{request.path}}?category={{category.id}}" class="remove-filter-link">Remove Filters</a>
  </div>
</div>
<div class="row py-2">
  <div class="col-2">
    {% include 'shop/partials/tags_partial.html' %}
  </div>
  <div class="col-10">
    {% if specification_list %}
    <div class="row py-2">
      <div class="col-12">
        {% include 'shop/partials/filters_partial.html' %}
      </div>
    </div>
    {% endif %}
<div class="row py-2">
  <div class="col">
    <img src="{% static 'img/loading.svg' %}" class="loading">
  </div>
</div>
    {% include 'shop/partials/product_list_partial.html' with product_list=object_list %}
  </div>
</div>
