{% extends 'cms/base.html' %}
{% load cms %}
{% load thumbnail %}

{% block content %}

<h2>{{page_title}}</h2>

<div class="row">
  <div class="col">
    <a href="{% get_url 'create' 'cms' %}" class="btn btn-primary float-right">Add</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Parent</th>
          <th>hero</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>{{item.pk}}</td>
          <td> <a href="{% get_url 'detail' item 'cms' %}">{{item.name}}</a></td>
          <td>{{item.parent|default_if_none:"---"}}</td>
          <td>
            {% thumbnail item.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}

          </td>
          <td>
            <a href="{% get_url 'update' item 'cms' %}" class="btn btn-warning">Update</a>
            <a href="{% get_url 'delete' item 'cms' %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% endblock %}
