{% extends "site/base.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col">
    <h1>{{object.name}}</h1>

  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="row">
      {% for product in product_list %}
      <div class="col-lg-6">
        <div class="card lg-6">
          {% if product.image %}
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'product-detail' product.slug %}">{{product.name}}</a></h5>
            <p class="card-text">{{product.description|safe}}</p>
            <a href="{% url 'add_to_basket' product.id %}" class="btn btn-primary">Add to basket</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
