{% if categories %}
<h3>Categories</h3>
<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav">
    {% for category in categories %}
      {% url 'category-detail' category.slug as category_url %}
      <li class="nav-item {% if request.path == category_url %}active{% endif %}"><a  class="nav-link" href="{{category_url}}">{{category.name}}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if tags %}
  <h3>Tags</h3>
  <nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav">
      {% for tag in tags %}
        {% url 'tag-detail' tag.name as tag_url %}
        <li class="nav-item {% if request.path == tag_url %}active{% endif %}"><a  class="nav-link" href="{{tag_url}}">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
