{% extends "site/base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-2">
    {% include 'tags_partial.html' %}
  </div>
  <div class="col-lg-8">
    {% if specification_list %}
    <div class="row">
      <div class="col-lg-12">
        {% include 'filters_partial.html' %}
      </div>
      </div>
    {% endif %}
    <div class="row">
      {% for productcategory in productcategory_list %}
      <div class="col-lg-6">
        <div class="card lg-6">
          {% if productcategory.product.image %}
            <img src="{{productcategory.product.image.url}}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'product-detail' productcategory.product.slug %}">{{productcategory.product.name}}</a></h5>
            <p class="card-text">{{productcategory.product.description|safe}}</p>
            <a href="{% url 'add_to_basket' productcategory.product.id %}" class="btn btn-primary">Add to basket</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
