{% extends "site/base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-2">
    {% include 'category_partial.html' %}
  </div>
  <div class="col-lg-8">
    {% if specification_list %}
    <div class="row">
      <div class="col-lg-12">
        {% include 'filters_partial.html' %}
      </div>
      </div>
    {% endif %}
    <div class="row">
      {% include 'product_list_partial.html' with product_list=product_list %}
    </div>
  </div>
</div>


{% endblock %}
