{% extends "cms/base.html" %}
{% load dynamic %}

{% block content %}

    {% get_title %}
    
    <div class="d-flex flex-row py-2">
      <div class="col">
        <form method="post" novalidate>{% csrf_token %}
          {% include 'dynamic/form_item.html' %}
          <div class="d-flex flex-row py-2">
            <div class="col">
              {% if view.list_url %}
                  <a href="{{view.list_url}}" class="btn btn-light">Back</a>
              {% endif %}
              
                  {% if form.instance.pk %}
                <a href="{% url 'products:feature-delete' form.instance.pk %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
            <div class="col">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" class="btn btn-light me-md-2" value="{% if form.instance.pk %}Update {% else %} Create {% endif %}">
                <input type="submit" class="btn btn-light" name="new" value="{% if form.instance.pk %} Update {% else  %}Save {% endif %} and Add New">
                <input type="submit" class="btn btn-light" name="continue" value="{% if form.instance.pk %} Update {% else  %}Save {% endif %} and Continue editing">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


{% endblock %}

