{% extends "cms/base.html" %}
{% load core %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data"> 
      {% csrf_token %}
    
    
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="basic-tab" data-bs-toggle="tab" data-bs-target="#basic-tab-pane" type="button" role="tab" aria-controls="basic-tab-pane" aria-selected="true">Product</button>
        </li>
        {% if form.instance.pk %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="productmedia-tab" data-bs-toggle="tab" data-bs-target="#productmedia-tab-pane" type="button" role="tab" aria-controls="productmedia-tab-pane" aria-selected="false">productmedia</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="productlogo-tab" data-bs-toggle="tab" data-bs-target="#productlogo-tab-pane" type="button" role="tab" aria-controls="productlogo-tab-pane" aria-selected="false">productlogo</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="productattribute-tab" data-bs-toggle="tab" data-bs-target="#productattribute-tab-pane" type="button" role="tab" aria-controls="productattribute-tab-pane" aria-selected="false">productattribute</button>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="basic-tab-pane" role="tabpanel" aria-labelledby="basic-tab" tabindex="0">...
          <div class="d-flex flex-row g-3">
            <div class="col m-2">
              <label for="{{form.name.id_for_label}}" class="form-label">{{form.name.label}}</label>
              {{form.name}}
              <div class="invalid-feedback">
                {{form.name.errors}}
              </div>
              {% if form.name.help_text %}
                <p class="help">{{ form.name.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <label for="{{form.product_code.id_for_label}}" class="form-label">{{form.product_code.label}}</label>
              {{form.product_code}}
              <div class="invalid-feedback">
                {{form.product_code.errors}}
              </div>
              {% if form.product_code.help_text %}
                <p class="help">{{ form.product_code.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
          </div><!--row-->
          <div class="d-flex flex-row g-3">
            <div class="col m-2">
              <label for="{{form.category.id_for_label}}" class="form-label">{{form.category.label}}</label>
              {{form.category}}
              <div class="invalid-feedback">
                {{form.category.errors}}
              </div>
              {% if form.category.help_text %}
                <p class="help">{{ form.category.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <label for="{{form.brand.id_for_label}}" class="form-label">{{form.brand.label}}</label>
              {{form.brand}}
              <div class="invalid-feedback">
                {{form.brand.errors}}
              </div>
              {% if form.brand.help_text %}
                <p class="help">{{ form.brand.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
          </div><!--row-->
          <div class="d-flex flex-row g-3">
            <div class="col m-2">
              <label for="{{form.description.id_for_label}}" class="form-label">{{form.description.label}}</label>
              {{form.description}}
              <div class="invalid-feedback">
                {{form.description.errors}}
              </div>
              {% if form.description.help_text %}
                <p class="help">{{ form.description.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
          </div><!--row-->
          <div class="d-flex flex-row g-3">
            <div class="col m-2">
              <label for="{{form.image.id_for_label}}" class="form-label">{{form.image.label}}</label>
              {{form.image}}
              <div class="invalid-feedback">
                {{form.image.errors}}
              </div>
              {% if form.image.help_text %}
                <p class="help">{{ form.image.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <label for="{{form.price.id_for_label}}" class="form-label">{{form.price.label}}</label>
              {{form.price}}
              <div class="invalid-feedback">
                {{form.price.errors}}
              </div>
              {% if form.price.help_text %}
                <p class="help">{{ form.price.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <div class="form-check">
                <label for="{{form.featured.id_for_label}}" class="form-label">{{form.featured.label}}</label>
                {{form.featured}}
                <div class="invalid-feedback">
                  {{form.featured.errors}}
                </div>
                {% if form.featured.help_text %}
                  <p class="help">{{ form.featured.help_text|safe }}</p>
                {% endif %}
              </div>
    
    
    
            </div> <!--col-->
          </div><!--row-->
          <div class="d-flex flex-row g-3">
            <div class="col m-2">
              <label for="{{form.parent.id_for_label}}" class="form-label">{{form.parent.label}}</label>
              {{form.parent}}
              <div class="invalid-feedback">
                {{form.parent.errors}}
              </div>
              {% if form.parent.help_text %}
                <p class="help">{{ form.parent.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <label for="{{form.tags.id_for_label}}" class="form-label">{{form.tags.label}}</label>
              {{form.tags}}
              <div class="invalid-feedback">
                {{form.tags.errors}}
              </div>
              {% if form.tags.help_text %}
                <p class="help">{{ form.tags.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <label for="{{form.relatedproducts.id_for_label}}" class="form-label">{{form.relatedproducts.label}}</label>
              {{form.relatedproducts}}
              <div class="invalid-feedback">
                {{form.relatedproducts.errors}}
              </div>
              {% if form.relatedproducts.help_text %}
                <p class="help">{{ form.relatedproducts.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
            <div class="col m-2">
              <label for="{{form.company.id_for_label}}" class="form-label">{{form.company.label}}</label>
              {{form.company}}
              <div class="invalid-feedback">
                {{form.company.errors}}
              </div>
              {% if form.company.help_text %}
                <p class="help">{{ form.company.help_text|safe }}</p>
              {% endif %}
            </div> <!--col-->
          </div><!--row-->
    
    
        </div> <!-- basic tab -->
        {% if form.instance.pk %}
        <div class="tab-pane fade" id="productmedia-tab-pane" role="tabpanel" aria-labelledby="productmedia-tab" tabindex="0">...
          <div class="d-flex flex-row">
            <div class="col-12">
              <div class="mb-3">
                <label for="logos" class="form-label">Media</label>
                <input class="form-control" type="file" id="media" name="media" multiple>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            {% for media in form.instance.productmedia.all %}
              <div class="col-2">
                {{media.media}}
                {% if media.media.image_url %}
                  <img src="{{media.media.image_url}}" alt="" class="img-thumbnail" alt="" width="100px">
                  <a href="{% url 'products:form-delete-media' form.instance.pk media.media_id %}" class="delete"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
    
    
    
    
    
        </div> <!--product media tab-->
        <div class="tab-pane fade" id="productlogo-tab-pane" role="tabpanel" aria-labelledby="productlogo-tab" tabindex="0">...
          <div class="d-flex flex-row">
            <div class="col-12">
              <div class="mb-3">
                <label for="logos" class="form-label">Logo</label>
                <input class="form-control" type="file" id="logo" name="logos" multiple>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            {% for logo in form.instance.productlogo.all %}
              <div class="col-2">
                {{logo.logo}}
                {% if logo.logo.image_url %}
                  <img src="{{logo.logo.image_url}}" class="img-thumbnail" alt="" width="100px">
                {% endif %}
                <a href="{% url 'products:form-delete-logo' form.instance.pk logo.logo_id %}" class="delete"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a>
              </div>
            {% endfor %}
          </div>
    
    
    
    
        </div> <!--product logo tab-->
        <div class="tab-pane fade" id="productattribute-tab-pane" role="tabpanel" aria-labelledby="productattribute-tab" tabindex="0">...
          <div class="d-flex flex-row">
            <div class="col-12">
              <div class="mb-3">
                <a href="{% url 'products:form-create-attribute' form.instance.pk %}">Add Product Attribute</a>
              </div>
            </div>
          </div>
    
          <div class="d-flex flex-row">
            <div class="col-12">
            
              <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>Feature</th>
                      <th>Value</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                  {% for item in form.instance.productattributes.all %}
                  <tr>
                    <td>{{item.attribute.feature.name}}</td>
                    <td>{{item.attribute.value|safe}}</td>
                    <td>
                        <a href="{% url 'products:form-delete-attribute' form.instance.pk item.attribute_id %}"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
    
    
                </tbody>
    
              </table>
            
            
            
            
            
            </div>
          </div>
    
    
    
    
    
    
        </div> <!--productattribute tab-->
        {% endif %}
      </div>
      {% get_form_buttons form %}
    </form>









<script>
  'use strict';
  (function(w,d,$){
    $(d).ready(function(){
      CKEDITOR.replace('id_description');




    })/*document ready */


  })(window,document,jQuery)
</script>

{% endblock content %}