{% load core %}

<div class="row">
    <div class="col-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Product Filters
        </button>

        <!-- Modal -->
    </div>
</div>    

    <div class="modal" id="modal">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="modallabel">Product Filters</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url}}" method="get" id="filters-form">
                        {% for feature in specification_list %}
                        <div class="d-flex flex-row">
                            <div class="col">
                                <div class="border-bottom" id="feature_{{feature_id}}">
                                    <h2 style="font-size:16px;">{{feature}}</h2>
                                </div>
                                <div id="attribute_{{feature.pk}}">
                                    {% for attr in feature.attrs %}
                                        <div class="ck-button">
                                            <label  for="attr_{{attr.id}}">
                                            {% is_selected attr.id attrs_checked as checked %}
                                            <input type="checkbox" name="feature-{{feature.pk}}" value="{{attr.id}}" id="attr_{{attr.id}}" {% if checked %} checked {%endif%}   />
                                                <span>{{attr|safe}}  - {{attr.product_count}}</span>
                                            </label>
                                        </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if category %}
                            <input type="hidden" name="category" value="{{category.id}}">
                        {% endif %}
                        {% if brand %}
                            <input type="hidden" name="brand" value="{{brand.id}}">
                        {% endif %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            {% if category %}
                            <a href="{% url 'shop:catalog' %}?category={{ category.id }}" class="btn btn-light">Reset</a>
                            {% else %}
                            <a href="{% url 'shop:catalog' %}?brand={{ brand.id }}" class="btn btn-light">Reset</a>
                            {% endif %}
                          <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>