{% load static shop %}

<div class="row scrollable-row">
  <div class="col-12">
    <form class="" action="" method="get" id='filters-form'>
        <div class="row">
          {% for feature in specification_list %}
          <div class="col-12 " id="feature-{{feature.pk}}">
            <div class="form-group py-2">
              <h2 style="font-size:1.1rem;">{{feature}}<span><i class="bi bi-caret-up-fill" id="caret_{{feature.pk}}"></i></span></h2>
              <hr>
              <div class="{% is_active feature.pk %}" id='items_{{feature.pk}}'>
                {% for attr in feature.attrs %}
                {% is_checked attr as checked %}
                    <div style="font-size:0.8rem;">
                      <label for="{{attr.pk}}">
                      <input type="checkbox" name="feature-{{feature.pk}}" class="form-check-input" id="{{attr.pk}}" value="{{attr.pk}}" {% if checked %} checked {% endif %}>
                      <span>{{attr|safe}}</span>
                      <span class="badge bg-light text-dark">{{attr.product_count}}</span>
                      </label>
                    </div>
                 {% endfor %}

              </div>

            </div>
          </div>
        {% endfor %}


        </div>

        <a href="{{request.path}}" id="reset-filters">Reset filters</a>
        <input type="submit" class="btn btn-primary" name="submit" value="submit">
    </form>
  </div>
</div>


<script>
  'use strict';
  (function(w,d,$){
    $(d).ready(function(){
      
      $.each($(".active-feature"),function(index,item){
        let id = $(item).attr('id').split('_')[1];
        $(item).parents().find('#caret_'+id).toggleClass('bi-caret-down-fill bi-caret-up-fill')
      })
      
      
      
      




    }) /* document ready */



  })(window,document,jQuery)


</script>







