{% load core %}

<div class="d-flex flex-row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="order">
                {% for obj in object_list %}
                <tr class='item' data-pk={{obj.pk}} data-model={% get_model obj %}>
                    <td><i class="bi bi-list"></i></td>
                    <td><a href="{% get_url 'detail' obj 'cms' %}">{{obj}}</a></td>
                    <td>{% get_actions obj 'cms' %} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex flex-row">
    <div class="col">
      {% include 'core/pagination.html' %}
    </div>
  </div>