{% extends "cms/base.html" %}
{% load core %}
{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
{% include 'cms/add_button.html' %}
<div class="row py-2">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
        <tr>
          <td>{{obj.name}}</td>
          <td>
            {% include 'cms/action_buttons.html' with obj=obj %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
