{% extends "cms/base.html" %}
{% load core %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}

{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
{% include 'partials/add_button.html' %}
<div class="row py-2">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2" style="text-align:center;">Features</th>
        </tr>
        <tr>
          <th>sort</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody class="order">
        {% for obj in object.features.all %}
        <tr class="item" data-pk={{obj.pk}} data-model='attributefeature'>
          <td><i class="bi bi-list"></i></td>
          <td>{{obj.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% include 'pagination.html' %}
{% endblock %}
