{% extends "cms/base.html" %}
{% load static %}
{% load core %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}

{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
{% include 'partials/add_button.html' %}

<div class="row py-2">
  <div class="col">
    <div class="card shadow rounded">
      <div class="card-body">
        <form id="search-form" action="." method="get">
          <div class="mb-3">
            <label for="search" class="form-label">Search</label>
            <input type="text" class="form-control" id="search" name="q">
          </div>
          <div class="row py-2">
            <div class="col">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning s-back">Clear Filter</button>
                <button type="submit" class="btn btn-light">Search</button>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include 'partials/spinner_partial.html' %}
<div class="res">
  {% get_template_name_cms as template_name %}
  {% with template=template_name %}
  {% include  template %}
{% endwith %}
</div>




{% endblock %}
