{% extends 'users/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'bootstrap5/css/signin.css' %}">
{% endblock %}


{% block body_class %}text-center{% endblock %}



{% block content %}
  <form method="post" class="form-signin">
  <h2>Login</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <a href="{% url 'signup' %}">Register</a>
    <a href="{% url 'password_reset' %}">Forgot password</a>
  </form>

{% endblock %}
