{% extends "cms/base.html" %}
{% load core %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}

{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
<form method="post" class="shadow rounded" enctype='multipart/form-data' novalidate>{% csrf_token %}
  <div class="card">
    <div class="card-body">
      {{form.errors}}
      <div class="row">
        <div class="col-9">
          <div class="form-group">
            
            {{ form.name.label_tag }}
            {{form.name}}
            {% if form.name.errors %}
            <div class="invalid-feedback">
              {{form.name.errors}}
            </div>
            {%endif%}
            {% if form.name.help_text %}
              <small class="form-text text-muted">{{ form.name.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            {{ form.is_published.errors }}
            {{ form.is_published.label_tag }}
            {{form.is_published}}
            {% if form.is_published.help_text %}
              <small class="form-text text-muted">{{ form.is_published.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          {{ form.feature.errors }}
          {{ form.feature.label_tag }}
          {{form.feature}}
          {% if form.feature.help_text %}
            <small class="form-text text-muted">{{ form.feature.help_text }}</small>
          {% endif %}
        </div>

      </div>
      {% get_form_buttons form 'cms' %}
    </div>
  </div>
  
</form>
{% endblock %}



{% block scripts %}
<script>
  'use strict';
  (function(w,d,$){

    $(d).ready(function(){
      $("select[name*='feature']" ).select2({
        ajax: {
          url: '/sb_data/',
          data: function (params) {
            var query = {
              search: params.term,
              app:"shop",
              model: "feature",
              type: 'public'
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      });
    }) /* document ready */



  })(window,document,jQuery)
</script>
{% endblock scripts %}