{% extends "cms/base.html" %}
{% load cms %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}


{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
<form method="post" class="shadow rounded" enctype='multipart/form-data'>{% csrf_token %}
  <div class="card py-2">
    <div class="card-body">
      <ul class="nav nav-pills mb-3" id="info-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true">Product Info</button>
        </li>
        {% if form.instance.pk %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-logo-tab" data-bs-toggle="pill" data-bs-target="#pills-logo" type="button" role="tab" aria-controls="pills-logo" aria-selected="false">Product Logo</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-media-tab" data-bs-toggle="pill" data-bs-target="#pills-media" type="button" role="tab" aria-controls="pills-media" aria-selected="false">Product Media</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-attribute-tab" data-bs-toggle="pill" data-bs-target="#pills-attribute" type="button" role="tab" aria-controls="pills-attribute" aria-selected="false">Product Attributes</button>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">info
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                {{ form.name.label_tag }}
                {{form.name}}
                {% if form.name.errors %}
                <div class="invalid-feedback">
                  {{form.name.errors}}
                </div>
                {%endif%}
                {% if form.name.help_text %}
                  <small class="form-text text-muted">{{ form.name.help_text }}</small>
                {% endif %}
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                {{ form.subtitle.label_tag }}
                {{form.subtitle}}
                {% if form.subtitle.errors %}
                <div class="invalid-feedback">
                  {{form.subtitle.errors}}
                </div>
                {%endif%}
                {% if form.subtitle.help_text %}
                  <small class="form-text text-muted">{{ form.subtitle.help_text }}</small>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                {{ form.brand.label_tag }}
                {{form.brand}}
                {% if form.brand.errors %}
                <div class="invalid-feedback">
                  {{form.brand.errors}}
                </div>
                {%endif%}
                {% if form.brand.help_text %}
                  <small class="form-text text-muted">{{ form.brand.help_text }}</small>
                {% endif %}
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                {{ form.parent.label_tag }}
                {{form.parent}}
                {% if form.parent.errors %}
                <div class="invalid-feedback">
                  {{form.parent.errors}}
                </div>
                {%endif%}
                {% if form.parent.help_text %}
                  <small class="form-text text-muted">{{ form.parent.help_text }}</small>
                {% endif %}
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                {{ form.category.label_tag }}
                {{form.category}}
                {% if form.category.errors %}
                <div class="invalid-feedback">
                  {{form.category.errors}}
                </div>
                {%endif%}
                {% if form.category.help_text %}
                  <small class="form-text text-muted">{{ form.category.help_text }}</small>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                {{ form.description.label_tag }}
                {{form.description}}
                {% if form.description.errors %}
                <div class="invalid-feedback">
                  {{form.description.errors}}
                </div>
                {%endif%}
                {% if form.description.help_text %}
                  <small class="form-text text-muted">{{ form.description.help_text }}</small>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                {{ form.price.label_tag }}
                {{form.price}}
                {% if form.price.errors %}
                <div class="invalid-feedback">
                  {{form.price.errors}}
                </div>
                {%endif%}
                {% if form.price.help_text %}
                  <small class="form-text text-muted">{{ form.price.help_text }}</small>
                {% endif %}
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                {{ form.image.label_tag }}
                {{form.image}}
                {% get_formset_img form.image form.image.value %}
                {% if form.image.errors %}
                <div class="invalid-feedback">
                  {{form.image.errors}}
                </div>
                {%endif%}
                {% if form.image.help_text %}
                  <small class="form-text text-muted">{{ form.image.help_text }}</small>
                {% endif %}
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                {{ form.is_published.label_tag }}
                {{form.is_published}}
                {% if form.is_published.errors %}
                <div class="invalid-feedback">
                  {{form.is_published.errors}}
                </div>
                {%endif%}
                {% if form.is_published.help_text %}
                  <small class="form-text text-muted">{{ form.is_published.help_text }}</small>
                {% endif %}
              </div>
            </div>
          </div>
          {% include 'partials/formset.html' with formset=formsets.0 %}
          {% include 'partials/formset.html' with formset=formsets.1 %}
          {% include 'partials/formset.html' with formset=formsets.2 %}
          {% include 'partials/formset.html' with formset=formsets.3 %}
        </div> <!--info tab -->
        {% if form.instance.pk %}
        <div class="tab-pane fade" id="pills-logo" role="tabpanel" aria-labelledby="pills-logo-tab">
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="logos" class="form-label">Logo</label>
                <input class="form-control" type="file" id="logo" name="logos" multiple>
              </div>
            </div>
          </div>
          <div class="row">
            {% for logo in form.instance.logos.all %}
              <div class="col-2">
                {% if logo.image %}
                  <img src="{{logo.image.url}}" class="img-thumbnail" alt="" width="100px">
                {% endif %}
                <a href="{% url 'delete'  %}?model={% get_model logo %}&app={% get_app logo %}&id={{logo.id}}" class="delete"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a>
              </div>
            {% endfor %}
          </div>
        </div><!--logos tab-->
        <div class="tab-pane fade" id="pills-media" role="tabpanel" aria-labelledby="pills-media-tab">media
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label for="logos" class="form-label">Media</label>
                <input class="form-control" type="file" id="media" name="media" multiple>
              </div>
            </div>
          </div>
          <div class="row">
            {% for media in form.instance.media.all %}
              <div class="col-2">
                {% if media.image %}
                  <img src="{{media.image.url}}" alt="" class="img-thumbnail" alt="" width="100px">
                  <a href="{% url 'delete'  %}?model={% get_model media %}&app={% get_app model %}&id={{media.id}}" class="delete"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div> <!--media tab-->
        <div class="tab-pane fade" id="pills-attribute" role="tabpanel" aria-labelledby="pills-attribute-tab">
          <div class="row">
            <div class="col-12">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Attribute
              </button>
            </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6">
              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th>Feature</th>
                    <th>Attribute</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="attribute_list">
                  {% for attr in form.instance.attributes.all %}
                    <tr>
                      <td>{{attr.feature}}</td>
                      <td>{{attr|safe}}</td>
                      <td><a href="#" data-product="{{form.instance.pk}}" data-attribute="{{attr.id}}"  class="deleteAttr"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div><!--attribute tag -->

        {% endif %}
      </div>
     {% include 'partials/form_buttons.html' with form=form %}
    </div><!-- card body -->
  </div><!-- card -->
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="attribute-form">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product Attribute</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <input type="hidden" name="product" value="{{form.instance.pk}}" >
            <div class="mb-3">
              <label for="feature" class="form-label">Feature</label>
              <select name="feature" id="id_feature" class="form-control">
                {% for feature in features %}
                  <option value="{{feature.pk}}">{{feature}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="attribute" class="form-label">Attribute</label>
              <select name="attribute" id="id_attribute" class="form-control">

              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}

{% block scripts %}
    <script>
    'use strict';
    (function(w,d,$){
        $(d).ready(function(){
            $('#id_brand').select2({
              ajax: {
                url: '/shop/get_brands_for_sb/',
                data: function (params) {
                  var query = {
                    search: params.term,
                    type: 'public'
                  }
                  // Query parameters will be ?search=[term]&type=public
                  return query;
                }
              }
            });
            $('#id_parent').select2({
              ajax: {
                url: '/shop/get_products_for_sb/',
                data: function (params) {
                  var query = {
                    search: params.term,
                    type: 'public'
                  }
                  // Query parameters will be ?search=[term]&type=public
                  return query;
                }
              }
            });
            $('#id_category').select2({
              ajax: {
                url: '/shop/get_categories_for_sb/',
                data: function (params) {
                  var query = {
                    search: params.term,
                    type: 'public'
                  }
                  // Query parameters will be ?search=[term]&type=public
                  return query;
                }
              }
            });
            $("#id_feature").select2({
              dropdownParent: $('#exampleModal'),
            });
            $('#id_feature').on('select2:select', function (e) {
              let data = e.params.data;
              var $allLinks = $("#id_attribute").hasClass(".select2-hidden-accessible");
              for(item in $allLinks){
                item.select2('destroy');
              }
              $('#id_attribute').html('');
              console.log(data.id);
              $.ajax({
                url: '/shop/attributes/',
                method: 'GET',
                data: {id: data.id},
                datatype: 'json',
                success: function(response){
                  let dw = '';
                  var data = JSON.parse(response);
                  if (data.length != 0) {
                    dw = '<option value selected="selected">---------</option>';
                    for (var i=0 ; i < data.length ; i++ ) {
                      dw += '<option value="' + parseInt(data[i].pk) + '">' + data[i].fields['name'] + '</option>';
                    }
                  } else {
                    dw = '<option value selected="selected">---------</option>';
                  }
                  $('#id_attribute').html(dw);
                  $("#id_attribute").select2({
                    dropdownParent: $('#exampleModal'),
                  });
                }
              });
            });

            $('#attribute-form').submit(function(e){
              e.preventDefault()
              let data = $(this).serialize();
              console.info(data);
              $.ajax({
                url: '/shop/set_attribute/',
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                  console.info(data);
                  
                  if (data) {
                    $('#attribute_list').prepend(`<tr><td>${data.feature}</td><td>${data.name}</td><td><a href="#" data-product="${data.product_id}" data-attribute="${data.attribute_id}"  class="deleteAttr"><i class="bi bi-x text-danger" style="font-size:1.5rem;"></i></a></td></tr>`)
                    $('#exampleModal').modal("hide");
                  }
                }
              });
              return false

            })

            $("body").on('click', '.deleteAttr', function(e){
              e.preventDefault();
              console.info("clicked delete")
              var that = $(this);
              $.ajax({
                url: '/shop/delete_attribute/',
                data: {product:$(this).data("product"), attribute:$(this).data("attribute")},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                  console.info(data);
                  $(that).parent().parent().fadeOut();
                }
              });
              return false
            })



        }) /* document ready */

    })(window,document,jQuery)


    </script>



{% endblock %}