{% extends "admin/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
<style media="screen">
  div.inline-group table.ui-sortable tr.form-row.has_original td.drag {
    background-image: none !important;
    background-clip: content-box;
    padding-bottom: 60px;
  }

  div.inline-group table.ui-sortable tr.form-row.has_original td.drag::after {
    content: '\f0c9';
    color: #6d6d6d;
    font-family: FontAwesome;
    font-size: 16px;
  }

  div.drag.ui-sortable-handle {
    background-image: none !important;
    background-clip: content-box;
  }

  div.drag.ui-sortable-handle::after {
    content: '\f0c9';
    color: #6d6d6d;
    font-family: FontAwesome;
    font-size: 16px;
  }

</style>
{% endblock %}
