{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'bootstrap5/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap5/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cycle2.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <title>{% block page_title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}container{% endblock %}" {% block body_attrs %}{% endblock %}>
    {% include 'site/navbar.html' %}
    <div class="container mega-menu-container-1 shadow p-3 mb-5 bg-white rounded">
      <div class="row py-2">
        {% for category in categories %}
        {% if category.children.all.count > 0 %}
        <div class="col">
          <div class="level-1">{{category}}</div>
          <hr>
          {% if category.children %}
            {% for child in category.children.all %}
            <div class="col">
              <div class="level-2">{{child}}</div>
              {% if child.children %}
              <div class="row">
                {% for ch in child.children.all %}
                <div class="col" > <a href="{% url 'shop:catalog' %}?category={{ch.id}}" class="nav-category link">{{ch.name}}</a>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container basket-container shadow p-3 mb-5 bg-white rounded">
      <div class="row py-2">
        <div class="col">
          <img src="{% static 'img/loading.svg' %}" class="loading">

        </div>

      </div>
      <div class="row py-2 basket_res">

      </div>
    </div>
    <main class="container-fluid">
        <div class="row py-2">
          <div class="col-12">
              {% include 'messages.html' %}
          </div>

        </div>
    </main>
        {% block content %}{% endblock %}


    {% block body_scripts %}{% endblock %}
  </body>
</html>
