{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/django_ajax.js' %}"></script>
    <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cycle2.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
    <style media="screen">
      .ui-autocomplete {
          max-height: 500px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
          /* add padding to account for vertical scrollbar */
          padding-right: 20px;
      }
      .ui-widget{
        max-width:100%;
        width:100%;
      }
      </style>
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>
    {% include 'site/navbar.html' %}
    <div class="container mega-menu-container-1 shadow p-3 mb-5 bg-white rounded">
      <div class="row py-2">
        {% for category in categories %}
        {% if category.to_categories.all %}
        <div class="col-3 mb-2 g-0">
          <div class="level-1 fs-6">{{category}}</div>
          <hr>
           {% for child in category.to_categories.all %}
            <div class="col-12 my-2 g-0">
              <div class="level-2 fs-6" id="category-{{child.pk}}">{{child.from_category}}</div>
            </div>
              {% if child.from_category.to_categories.all %}
              <div class="row mb-2 g-0" id="third-{{child.pk}}">
                {% for ch in child.from_category.to_categories.all %}
                <div class="col-12 my-0 g-0 fs-6" > <a href="{% url 'shop:catalog' %}?category={{ch.from_category.id}}" class="nav-category link">{{ch.from_category.name}}</a>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            {% endfor %}
         </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container mega-menu-container-2 shadow p-3 mb-5 bg-white rounded">
      <div class="row py-2">
        {% for brand in brands %}
        <div class="col-2"><a href="{% url 'shop:catalog' %}?brand={{brand.id}}">
          {% if brand.image %}
            <img src="{{brand.image.url}}" alt="" />
          {% else %}
          {{brand.name}}
          {% endif %}
        </a></div>
      {% endfor %}
        
      </div>
    </div>
    <div class="container basket-container shadow p-3 mb-5 bg-white rounded">
      <div class="row py-2">
        <div class="col">
          <img src="{% static 'img/loading.svg' %}" class="loading">
        </div>
      </div>
      <div class="row py-2 basket_res"></div>
    </div>
    <main class="container-fluid">
        <div class="row py-2">
          <div class="col-12">
              {% include 'alerts.html' %}
          </div>
        </div>
    </main>
    {% block content %}{% endblock %}
    {% block body_scripts %}{% endblock %}

    <script>
      'use strict';
      (function(w,d,$){
        $(d).ready(function(){
          $( "#search" ).autocomplete({
            open: function() {
              $("ul.ui-menu").width( $(this).innerWidth() );
              
            },
            source: function(request,response){
              $.ajax( {
                url: "/shop/search/",
                dataType: "json",
                data: {
                  term: request.term
                },
                success: function( data ) {
                  response( data.data );
              },
            });
          },
          minLength: 3,
          select: function( event, ui ) {
            window.location.href = ui.item.value;
          }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
          return $( "<li>" )
            .append( "<div><img src="+ item.image + " width='100px'/>" + item.label + "</div>" )
            .appendTo( ul );
        }; 
      }) /* document ready */

      })(window,document,jQuery)


    </script>
  </body>
</html>
