{% extends "site/base.html" %}
{% load thumbnail %}
{% load static product_tag %}
{% block content %}
<div class="container-fluid shadow p-3 mb-5 bg-white rounded hero-wrapper">
  {% for hero in heroes %}
  <div class="row py-2">
    <div class="hero-header">
      {{hero}}
    </div>
  </div>
  <hr>
  <div class="row py-2">
      {% for item in hero.item_list %}
        <div class="col-2">
          <div class="card">
            {% if item.product.image %}
                <img src="{{ item.product.image.url }}" class="img-fluid">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{item.product}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'shop:catalog-product-detail' item.product.slug %}"  class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
