{% extends "site/base.html" %}

{% block content %}
<div class="container-fluid wrapper">
  <div class="row py-2">
    <div class="col order-header">
      Address
    </div>
  </div>
  <hr>
  <div class="row py-2">
      <div class="col">
        <form  action="" method="post" class="row g-3 needs-validation" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <div class="col-12 py-2">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <input type="submit" name="address" value="save" class="btn btn-primary float-right">
              </div>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock %}
