{% extends "site/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-12">
      <div class="row py-2">
        <div class="col">
          <h1>{{object.name}}</h1>
        </div>
      </div>
      <hr>
      <div class="row py-2">
        {% if object.image %}
        <div class="col-2 col-sm-2">
            <img src="{{ object.image.url }}" class="img-fluid">
        </div>
        {% endif %}
        <div class="col-8 col-sm-8">
          <div class="">
            Brand : <a href="{% url 'shop:catalog' %}?brand={{object.brand.pk}}" class="tag-link">{{object.brand}}</a>
          </div>
          <div class="">
            Product Tags :
            {% for tag in object.tags.all %}
                <a class="tag-link" href="{% url 'shop:catalog' %}?tag={{tag.tag.id}}">{{tag.tag.name}}</a>
            {% endfor %}
          </div>
          <div class="">
            Product Category:
              <a class="tag-link" href="{% url 'shop:catalog' %}?category={{object.category.id}}">{{object.category.name}}</a>
          </div>
          <div class="">
            Product Description
          </div>
          <div class="">
            {{object.description|safe}}
          </div>
        </div>
        <div class="col-2">
            <a href="{% url 'shop:add_to_basket' object.id %}" class="btn btn-light float-right ajax_add_to_cart"><i class="bi bi-cart"></i>  &#128;{{object.price}}</a>
        </div>
      </div>
      <hr>
      <div class="row py-2">
          <div class="col-6 col-sm-6">
            <div class="">
              Product Images
            </div>
            <div class="">
              <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                  {% for media in object.media.all %}
                    <div class="swiper-slide">
                        <img src="{{ media.image.url }}">
                    </div>
                  {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6">
            <div class="">
              Product Attributes
            </div>
            <hr>
            <div class="">
              {% for attr in object.productattributes.all %}
              <div class="">
                <span style="font-weight:bold;">{{attr.attribute.feature}}</span> : {{attr.attribute}}
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}
