<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% url 'home' as home_url %}
  {% url 'basket' as basket_url %}
  <a class="navbar-brand" href="{{home_url}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" id="mega-menu">Categories</a>
      </li>
      {% if basket_count > 0 %}
        <li class="nav-item {% if request.path == basket_url %}active {% endif %}">
          <a class="nav-link" href="{{basket_url}}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
             <span id="cart-status">
                {{basket_count}}
             </span>
        </a>
        </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Brands
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for brand in brands %}
            <a class="dropdown-item" href="{% url 'brand-detail' brand.slug %}">{{brand.name}}</a>
          {% endfor %}
        </div>
      </li>


      {% if not request.user.is_anonymous %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-o" aria-hidden="true"></i> {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <a class="dropdown-item" href="{% url 'myorders' %}">My orders</a>
          {% if request.user.is_superuser %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'cms:manage' %}">Manage</a>
        </div>
        {% endif %}
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Register<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
