<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% url 'index' as index_url %}
    {% url 'baskets:basket' as basket_url %}
    <a class="navbar-brand" href="{{index_url}}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" id="mega-menu-1">Categories</a>
        </li>
        <li class="nav-item {% if request.path == basket_url %}active {% endif %}">
            <a class="nav-link ajax_basket" href="{{basket_url}}">
              <i class="bi bi-cart"></i>
               <span class="badge bg-light text-dark">
                  {{basket_count}}
               </span>
          </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="mega-menu-2">Brands</a>
        </li>
      </ul>
      <form class="d-flex  me-auto flex-grow-1" action="{% url 'products:catalog' %}">
        <div class="ui-widget">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" id="search" aria-label="Search">
        </div>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav">
        {% if not request.user.is_anonymous %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill"></i>{{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="{% url 'logout' %}" method="post" class="dropdown-item">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
            
            

            <a class="dropdown-item" href="{% url 'products:myorders' %}">My orders</a>
            <a class="dropdown-item" href="{% url 'profile-detail' request.user.profile.pk %}">My Profile</a>
            {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'manage' %}">Manage</a>
          </div>
          {% endif %}
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
