{% url 'shop:cms-index' as cms_index %}
{% url 'index' as site_index %}
{% url 'shop:category-list' as category_list %}
{% url 'shop:tag-list' as tag_list %}
{% url 'shop:supplier-list' as supplier_list %}
{% url 'shop:warehouse-list' as warehouse_list %}
{% url 'shop:brand-list' as brand_list %}
{% url 'shop:feature-list' as feature_list %}
{% url 'shop:product-list' as product_list %}
{% url 'shop:shipment-list' as shipment_list %}
{% url 'shop:hero-list' as hero_list %}
{% url 'shop:offer-list' as offer_list %}
{% url 'shop:address-list' as address_list %}
{% url 'shop:order-list' as order_list %}
{% url 'shop:attribute-list' as attribute_list %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {% if request.path == cms_index %}active {% endif %}" aria-current="page" href="{{cms_index}}">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == site_index %}active {% endif %}" aria-current="page" href="{{site_index}}" target="_blank" rel="noopener noreferrer">
          View site
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == category_list %}active {% endif %} collection" data-model='category' data-collection='categories' aria-current="page" href="{{category_list}}">
          Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == attribute_list %}active {% endif %} collection" data-model='attribute' data-collection='attributes' aria-current="page" href="{{attribute_list}}">
          Attributes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == tag_list %}active {% endif %} collection" data-model='tag' data-collection='tags' aria-current="page" href="{{tag_list}}">
          Tags
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == supplier_list %}active {% endif %} collection" data-model='supplier' data-collection='suppliers' aria-current="page" href="{{supplier_list}}">
          Suppliers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == warehouse_list %}active {% endif %} collection" data-model='warehouse' data-collection='warehouses' aria-current="page" href="{{warehouse_list}}">
          WareHouses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == brand_list %}active {% endif %} collection" data-model='brand' data-collection='brands' aria-current="page" href="{{brand_list}}">
          Brands
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == feature_list %}active {% endif %} collection" data-model='feature' data-collection='features' aria-current="page" href="{{feature_list}}">
          Features
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == product_list %}active {% endif %} collection" data-model='product' data-collection='products' aria-current="page" href="{{product_list}}">
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == shipment_list %}active {% endif %} collection" data-model='shipment' data-collection='shipments' aria-current="page" href="{{shipment_list}}">
          Shipments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == hero_list %}active {% endif %} collection" data-model='hero' data-collection='heroes' aria-current="page" href="{{hero_list}}">
          Heroes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == offer_list %}active {% endif %} collection" data-model='offer' data-collection='offers' aria-current="page" href="{{offer_list}}">
          Offers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == address_list %}active {% endif %}" aria-current="page" href="{{address_list}}">
          Address
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == order_list %}active {% endif %}" aria-current="page" href="{{order_list}}">
          Orders
        </a>
      </li>
    </ul>
  </div>
</nav>
