{% extends "cms/base.html" %}
{% load core %}
{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
{% include 'partials/add_button.html' %}
<div class="row py-2">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>sort</th>
          {% for f in fields %}
          <th>{{f}}</th>
          {%endfor %}
          <th>children</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="order">
        {% for obj in object_list %}
        <tr class="item" data-pk={{obj.pk}} data-model={% get_model obj %}>
          <td><i class="bi bi-list"></i></td>
          <td>{{obj.id}}</td>
          <td>{{ob.created_at}}</td>
          <td>{{ob.updated_at}}</td>
          <td> {{obj.order}} </td>
          <td>{% get_boolean_img obj.is_published %}</td>
          <td><a href="{% get_url 'detail' obj  %}">{{obj.name}}</a></td>
          <td>
            {%if obj.image %}
            {{obj.image.url}}
            {% endif %}
          </td>
          <td>
            <ul>
              {% for child in obj.children.all %}
                <li>{{child}}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {% include 'partials/action_buttons.html' with obj=obj %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% include 'pagination.html' %}
{% endblock %}
