{% extends "cms/base.html" %}
{% load core %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}


{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
<form method="post" enctype='multipart/form-data'>{% csrf_token %}
    {% include 'partials/form_partial.html' %}
  {% include 'partials/formsets.html' %}
  {% include 'partials/form_buttons.html' with form=form %}
</form>
{% endblock %}

{% block scripts %}
    <script>
    'use strict';
    (function(w,d,$){
        $(d).ready(function(){
            $('#id_brand').select2({
              ajax: {
                url: '/shop/get_brands_for_sb/',
                data: function (params) {
                  var query = {
                    search: params.term,
                    type: 'public'
                  }
                  // Query parameters will be ?search=[term]&type=public
                  return query;
                }
              }
            });
            $('#id_parent').select2({
              ajax: {
                url: '/shop/get_products_for_sb/',
                data: function (params) {
                  var query = {
                    search: params.term,
                    type: 'public'
                  }
                  // Query parameters will be ?search=[term]&type=public
                  return query;
                }
              }
            });
        }) /* document ready */

    })(window,document,jQuery)


    </script>



{% endblock %}