{% extends 'cms/base.html' %}
{% load core %}
{% load thumbnail %}
{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row py-2">
      <div class="col">
          {{ form.as_p }}
      </div>
    </div>
    <div class="row py-2">
      <div class="col">
        <label for="avatar">Add product images</label>
        <input type="file" id="images" name="file" accept="image/png, image/jpeg" multiple>
      </div>
    </div>
    {% if form.instance.pk %}
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            {% for item in form.instance.productmedia.all %}
            <tr>
              <td>
                {% thumbnail item.image "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% include 'cms/form_buttons.html' %}
</form>
{% endblock %}
