{% extends "cms/base.html" %}
{% load core %}


{% block page_title %}
{{page_title}}
{% endblock page_title %}

{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
<form method="post" class="shadow rounded" enctype='multipart/form-data' novalidate>{% csrf_token %}
  <div class="card">
    <div class="card-body">
      {{form.errors}}
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            {{ form.profile.label_tag }}
            {{form.profile}}
            {% if form.profile.errors %}
            <div class="invalid-feedback">
              {{form.profile.errors}}
            </div>
            {%endif%}
            {% if form.profile.help_text %}
              <small class="form-text text-muted">{{ form.profile.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            {{ form.address_type.errors }}
            {{ form.address_type.label_tag }}
            {{form.address_type}}
            {% if form.address_type.help_text %}
              <small class="form-text text-muted">{{ form.address_type.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            {{ form.first_name.label_tag }}
            {{form.first_name}}
            {% if form.first_name.errors %}
            <div class="invalid-feedback">
              {{form.first_name.errors}}
            </div>
            {%endif%}
            {% if form.first_name.help_text %}
              <small class="form-text text-muted">{{ form.first_name.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            {{ form.last_name.errors }}
            {{ form.last_name.label_tag }}
            {{form.last_name}}
            {% if form.last_name.help_text %}
              <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            {{ form.mobile.label_tag }}
            {{form.mobile}}
            {% if form.mobile.errors %}
            <div class="invalid-feedback">
              {{form.mobile.errors}}
            </div>
            {%endif%}
            {% if form.mobile.help_text %}
              <small class="form-text text-muted">{{ form.mobile.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            {{ form.street_name.errors }}
            {{ form.street_name.label_tag }}
            {{form.street_name}}
            {% if form.street_name.help_text %}
              <small class="form-text text-muted">{{ form.street_name.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            {{ form.postal_code.label_tag }}
            {{form.postal_code}}
            {% if form.postal_code.errors %}
            <div class="invalid-feedback">
              {{form.postal_code.errors}}
            </div>
            {%endif%}
            {% if form.postal_code.help_text %}
              <small class="form-text text-muted">{{ form.postal_code.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            {{ form.city.errors }}
            {{ form.city.label_tag }}
            {{form.city}}
            {% if form.city.help_text %}
              <small class="form-text text-muted">{{ form.city.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            {{ form.street_number.label_tag }}
            {{form.street_number}}
            {% if form.street_number.errors %}
            <div class="invalid-feedback">
              {{form.street_number.errors}}
            </div>
            {%endif%}
            {% if form.street_number.help_text %}
              <small class="form-text text-muted">{{ form.street_number.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            {{ form.floor_number.errors }}
            {{ form.floor_number.label_tag }}
            {{form.floor_number}}
            {% if form.floor_number.help_text %}
              <small class="form-text text-muted">{{ form.floor_number.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      {% include 'partials/form_buttons.html' with form=form %}
    </div>
  </div>
  
</form>
{% endblock %}
