{% extends "cms/base.html" %}
{% load core %}

{% block page_title %}
{{page_title}}
{% endblock page_title %}


{% block section_title %}
  {{page_title}}
{% endblock %}

{% block content %}
<form method="post" class="shadow rounded" enctype='multipart/form-data' novalidate>{% csrf_token %}
  <div class="card">
    <div class="card-body">
      {{form.errors}}
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            {{ form.product.errors }}
            {{ form.product.label_tag }}
            {{form.product}}
            {% if form.product.help_text %}
              <small class="form-text text-muted">{{ form.product.help_text }}</small>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.warehouse.errors }}
            {{ form.warehouse.label_tag }}
            {{form.warehouse}}
            {% if form.warehouse.help_text %}
              <small class="form-text text-muted">{{ form.warehouse.help_text }}</small>
            {% endif %}
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            {{ form.is_published.errors }}
            {{ form.is_published.label_tag }}
            {{form.is_published}}
            {% if form.is_published.help_text %}
              <small class="form-text text-muted">{{ form.is_published.help_text }}</small>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.stock.errors }}
            {{ form.stock.label_tag }}
            {{form.stock}}
            {% if form.stock.help_text %}
              <small class="form-text text-muted">{{ form.stock.help_text }}</small>
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.date.errors }}
            {{ form.date.label_tag }}
            {{form.date}}
            {% if form.date.help_text %}
              <small class="form-text text-muted">{{ form.date.help_text }}</small>
            {% endif %}
          </div>
        </div>
      </div>
      {% include 'partials/form_buttons.html' with form=form %}
    </div>
  </div>
  
</form>
{% endblock %}


{% block scripts %}
<script>
  'use strict';
  (function(w,d,$){

    $(d).ready(function(){
      $("select[name*='product']" ).select2({
        ajax: {
          url: '/sb_data/',
          data: function (params) {
            var query = {
              search: params.term,
              app:"shop",
              model: "product",
              type: 'public'
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      });
      $("select[name*='warehouse']" ).select2({
        ajax: {
          url: '/sb_data/',
          data: function (params) {
            var query = {
              search: params.term,
              app:"shop",
              model: "warehouse",
              type: 'public'
            }
            // Query parameters will be ?search=[term]&type=public
            return query;
          }
        }
      });
    }) /* document ready */



  })(window,document,jQuery)
</script>
{% endblock scripts %}