{% load core %}
<div class="row py-2">
  <div class="col">
  <a href="{% get_url 'list' %}" class="btn btn-light">Back</a>
    {% if form.instance.pk %}
      <a href="{% get_url 'delete' form.instance %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
  <div class="col">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" class="btn btn-light me-md-2" value="{% if form.instance.pk %}Update {% else %} Create {% endif %}">
      <input type="submit" class="btn btn-light" name="new" value="{% if form.instance.pk %} Update {% else  %}Save {% endif %} and Add New">
      <input type="submit" class="btn btn-light" name="continue" value="{% if form.instance.pk %} Update {% else  %}Save {% endif %} and Continue editing">
    </div>
  </div>
</div>
