{% load core %}

<div class="row">
    <div class="col-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Product Filters
        </button>

        <!-- Modal -->
    </div>
</div>    

    <div class="modal" id="modal">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="modallabel">Product Filters</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url}}" method="get" id="filters-form">
                        <input type="hidden" value="{{ min_price }}" name="min_price" id="min_price" step="any">
                        <input type="hidden" value="{{ max_price }}" name="max_price" id="max_price" step="any">
                        <input type="hidden" value="{{ selected_min_price }}" name="selected_min_price" id="selected_min_price" step="any">
                        <input type="hidden" value="{{ selected_max_price }}" name="selected_max_price" id="selected_max_price" step="any">
<p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range"></div>

                        {% for feature in specification_list %}
                        <div class="d-flex flex-row">
                            <div class="col">
                                <div class="border-bottom" id="feature_{{feature_id}}">
                                    <h2 style="font-size:16px;">{{feature}}</h2>
                                </div>
                                <div id="attribute_{{feature.pk}}">
                                    {% for attr in feature.attrs %}
                                        <div class="ck-button">
                                            <label  for="attr_{{attr.id}}">
                                            {% exists_in_items attr.id attrs_checked as checked %}
                                            <input type="checkbox" name="feature-{{feature.pk}}" value="{{attr.id}}" id="attr_{{attr.id}}" {% if checked %} checked {%endif%}   />
                                                <span>{{attr|safe}}  - {{attr.product_count}}</span>
                                            </label>
                                        </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if category %}
                            <input type="hidden" name="category" value="{{category.id}}">
                        {% endif %}
                        {% if brand %}
                            <input type="hidden" name="brand" value="{{brand.id}}">
                        {% endif %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            {% if category %}
                            <a href="{% url 'products:catalog' %}?category={{ category.id }}" class="btn btn-light">Reset</a>
                            {% else %}
                            <a href="{% url 'products:catalog' %}?brand={{ brand.id }}" class="btn btn-light">Reset</a>
                            {% endif %}
                          <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

      <script>
        'use strict';
        (function(w,d,$){
            $(d).ready(function(){
                let min_price = parseFloat($("#min_price").val());
                let max_price = parseFloat($("#max_price").val());

                let selected_min_price = parseFloat($("#selected_min_price").val());
                let selected_max_price = parseFloat($("#selected_max_price").val());
                if (isNaN(selected_min_price)){
                    selected_min_price = min_price;
                }
                if (isNaN(selected_max_price)){
                    selected_max_price = max_price;
                }
              $( function() {
                $( "#slider-range" ).slider({
                  range: true,
                  min: min_price,
                  max: max_price,
                  values: [ selected_min_price, selected_max_price ],
                  slide: function( event, ui ) {
                    $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                    $("#min_price").val(ui.values[ 0 ] )
                    $("#max_price").val(ui.values[ 1 ] )
                  },
                    stop: function( event, ui ) {
                      $("#filters-form").submit();
                    }
                });
                $( "#amount" ).val(new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format($( "#slider-range" ).slider( "values", 0 ) )+
                  " - " + new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format($( "#slider-range" ).slider( "values", 1 ) ));
              } );


                        })
        })(window,document,jQuery)
    </script>