{% load static %}
{% load core %}
<div class="results">
  <div class="row py-2">
    {% for product in product_list %}
    <div class="col-4 card  mb-2">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" style="width:150px;">
        {% elif product.image_url %}
        <img src="{{product.image_url}}" class="card-img-top" style="width:150px;">
        {% else %}
        <img src="/static/img/default.jpg" class="card-img-top" style="width:150px;">
        {% endif %}
        <div class="card-body">
          <div class="card-title">
            <a href="{% url 'products:catalog-product-detail' product.id %}" class="link">{{product.name}}</a>
          </div>
          <div class="">
            Brand : <a href="{% url 'products:catalog' %}?brand={{product.brand_id}}"
              class="link">{{product.brand.name}}</a>
          </div>
          <div class="">
            <p>{{product.description|safe}}</p>
          </div>
          <div>
            <a href="{% url 'baskets:add_to_basket' product.id %}" class="btn btn-primary ajax_add_to_cart"><i
                class="bi bi-cart"></i> {% format_currency product.price %}</a>
              
            
              <form action="" method="post" class="py-2">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{product.id}}">
                <div style="display: flex; align-items: center; gap: 8px;">
                  <button type="button" class="remove"><i class="bi bi-dash-square-dotted text-danger"></i></button>
                  <input type="number" class="form-control" style="width: 60px;" value="1" min="0" name="quantity">
                  <button type="button" class="add"><i class="bi bi-plus-square-dotted text-success"></i></button>
                </div>
              </form>
          
          
          
          </div>
        
        
        </div>



      </div>






  {% endfor %}
</div>
<div class="row py-2">
  <div class="col">
    {% include 'core/partials/_pagination.html' %}
  </div>
</div>
