{% extends 'site/base.html' %}

{% block content %}
<div class="container wrapper">
  <div class="row py-2">
    <div class="col">
      <div class="row py-2">
        <div class="col">
          {{object}}
        </div>
      </div>
      <div class="row py-2">
        <div class="col">
              <a href="{% url  'profile-delete' object.pk %}" class="btn btn-danger btn-sm">Delete</a>
          <a href="{% url  'profile-update' object.pk %}" class="btn btn-warning float-right btn-sm">Update</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row py-2">
        <div class="col">
          <h2>Billing Address</h2> <span> <a href="{% url 'shop:site-address-add' %}?addr=1" class="btn btn-primary btn-sm">Add Billing Address</a></span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for obj in billing_address_list %}
              <tr>
                <td>{{obj}}</td>
                <td>
                  <a href="{% url 'shop:site-address-update' obj.pk %}" class="btn btn-warning btn-sm">Update</a>
                  <a href="{% url 'shop:site-address-delete' obj.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row py-2">
        <div class="col">
          <h2>Shipping Address</h2> <span> <a href="{% url 'shop:site-address-add' %}?addr=0" class="btn btn-primary btn-sm">Add Shipping Address</a></span>
        </div>
      </div>
      <div class="row py-2">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for obj in shipping_address_list %}
              <tr>
                <td>{{obj}}</td>
                <td>
                  <a href="{% url 'shop:site-address-update' obj.pk %}" class="btn btn-warning btn-sm">Update</a>
                  <a href="{% url 'shop:site-address-delete' obj.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</div>




{% endblock %}
